<template name="selectApp">
  <div class="ui container select-app">
    <div class="ui middle aligned divided list">
      <div class="item" id="events-link">
        <div class="right floated content">
          <i class="large angle right icon"></i>
        </div>
        <i class="large child icon"></i>
        <div class="content">
          Event attendance
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <i class="large angle right icon"></i>
        </div>
        <i class="large fire icon"></i>
        <div class="content">
          Face-type date matching
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <i class="large angle right icon"></i>
        </div>
        <i class="large user icon"></i>
        <div class="content">
          Modeling candidate detector
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <i class="large angle right icon"></i>
        </div>
        <i class="large bug icon"></i>
        <div class="content">
          Lost pet search
        </div>
      </div>
    </div>
  </div>
</template>
